<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ui.task_fragment_compose.TaskComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_task_compose"
            android:theme="@style/Theme.ToDoApp" />
    </application>

</manifest>